* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

.board {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ol > li::before {
    content: "🕹️ ";
}
ol > li::marker {
    color: navy;
    font-size: 2rem;
}

.me_tile {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 766px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}

footer {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


nav a:hover {
    background-color : #1c1d21ff;
    color : white;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before {
    content: "🕹️";  /* just a wayfinding symbol for the user */
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}

/* mobile **************************/
header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}


nav a:hover {
    background-color : #1c1d21ff;
    color : white;
}

.active {
    color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
    /* Hide menu button on larger screens */
    #menu {
        display: none;
    }
}

/* Show menu button on screens smaller than 768px */
@media screen and (max-width: 768px) {
    #menu {
        display: block;
    }

    /* Hide regular navigation links on small screens */
    .navigation ul {
        display: none;
    }

    /* Show navigation links when menu is open */
    .navigation.open ul {
        display: block;
    }
}
