* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}

.board {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.me_tile {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 766px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}

footer {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


nav a:hover {
    background-color : #1c1d21ff;
    color : white;
}

/* mobile **************************/
header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}


nav a:hover {
    background-color : #1c1d21ff;
    color : white;
}

.active {
    color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
    }
}
